<h1>
  Listado de Proyectos
</h1>
<div class="row">
  {{#each projectsDocs}}
    <div class="col s12">
      <div class="card teal darken-4">
        <div class="card-content teal-text text-lighten-5">
          <span class="card-title">
            {{name}}
          </span>
          <p>
            {{description}}
          </p>
        </div>
        <div class="card-action">
          <a href="#">
            This is a link
          </a>
          <a href="#">
            This is a link
          </a>
        </div>
      </div>
    </div>
  {{else}}
    <p>
      La lista de proyectos esta vacía.
    </p>
  {{/each}}
</div>