<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <div class="card">
      <div class="card-image">
        <img src="/img/blueprt.jpg" />
        <span class="card-title">
          Editar Proyecto
        </span>
      </div>
      <form autocomplete="off" action="/projects/edit/{{_id}}?_method=PUT" method="POST">
        <div class="card-content">
          <div class="input-field">
            <label for="project_name">
              Nombre del Proyecto
            </label>
            <input
              placeholder="Ingrese el nombre aqui"
              id="project_name"
              name="name"
              type="text"
              class="validate"
              value="{{name}}"
              required
            />
            <span class="helper-text" 
            data-error="Debe ingresar nombre del proyecto" 
            data-success="Correcto"></span>
            {{#if errorModel.nameError}}
            <span style="color: red;">Error: No ingreso nombre del Proyecto</span>
            {{/if}}
          </div>
          <div class="input-field">
            <label for="project_description">
              Descripción del Proyecto
            </label>
            <textarea required id="project_description" name="description" class="materialize-textarea validate">{{description}}</textarea>
            <span class="helper-text" 
            data-error="Debe ingresar una descripción." 
            data-success="Correcto"></span>
            {{#if errorModel.descriptionError}}
            <span style="color: red;">Error: No ingreso la descripción del Proyecto</span>
            {{/if}}
          </div>
        </div>
        <div class="card-action">
          <button id="submit" type="submit" class="blue darken-3 waves-effect waves-light btn">
            <i class="material-icons left">save</i>Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>