{ 
  "presets": [
    "minify",
    ["@babel/preset-env",{
      "targets": { "node" : "current"}
    }]
  ] ,
  "plugins":[
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias":{
          "@server" : "./server",
          "@routes" : "./server/routes",
          "@s-config": "./server/config",
          "@s-controllers" : "./server/controllers"
        }
      }
    ]
  ]
} 
