PORT=<Puerto de Servicio ejemp: 3000>
IP=<Ip de servicio ejemp: 0.0.0.0>
APP_URL=<Url de la aplicacion ejemp: 127.0.0.0>
DATABASE_URL=<Url de base de datos ejemp: mongodb://localhost:27017/projnotesDb>
SMPT_HOST="smtp.mailtrap.io"
SMTP_PORT="587"
MAIL_USERNAME="<username from mail service>"
MAIL_PASSWORD="<password from mail service>"