/* Evita error de identacion en iconos en sidenav */
.sidenav li{
  clear: both;
}

.logo{
  width: 130px;
  margin: auto;
}

.dropdown-trigger {
  width: 150px; /* adjust the width to your desired value */
}
/* .row{
  display: flex;
} */