<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  {{!-- FAVICON --}}
  <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="any">
  <!-- Compiled and minified CSS -->
  {{!-- Iconos de Google --}}
  <link 
    href="https://fonts.googleapis.com/icon?family=Material+Icons" 
    rel="stylesheet">
  {{!-- Materilize CSS --}}
  <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  {{!-- Css de la aplicacion --}}
  <link 
    rel='stylesheet' 
    href='/styles/app.css' />
</head>

<body class="{{backgroundColor}}">
  {{!-- Llamando a la vista parcial de la barra de navegacion --}}
  {{> _navbar}}

  <div class="container">
    {{{body}}}
  </div>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Script de mensajes Flash incrustados condicionalmente -->
  {{> _message}}
  <!-- Invocando al bundle -->
  <script src="/js/bundle.js"></script>
</body>

</html>
