<div>
  <h1 class="hedaer center teal-text text-darken-4">Registro</h1>
</div>
<div class="row">
  <form action="" class="col s12">
    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">
          account_circle
        </i>
        <input id="name" type="text" class="validate" />
        <label for="name">
          Nombres
        </label>
      </div>
      <div class="input-field col s12 m6">
        {{!-- <i class="material-icons prefix">
          account_circle
        </i> --}}
        <input id="surname" type="text" class="validate" />
        <label for="surname">
          Apellidos
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">
          email
        </i>
        <input id="email" type="email" class="validate" />
        <label for="email">
          Correo Electronico
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">
          password
        </i>
        <input id="password" type="password" class="validate" />
        <label for="password">
          Contraseña
        </label>
      </div>
    </div>
  </form>
</div>